<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title %></title>
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            font-family: Roboto, HelveticaNeue, Arial, sans-serif;
            background: #f2f2f2;
            color: #333;
            background-image: linear-gradient(to bottom right, #66ccff 0%, #6699ff 100%);
            background-size: 100vw 400px;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
        }
        h1, h2, h3, h4, h5, h6, h7, h8, h9 {
            color: #333;
            padding: 0;
            font-size: 20px;
            margin: 10px 0;
        }
        h1 {
            margin-top: 40px;
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid #9a9a9a;
            text-align: center;
            color: #333;
            font-size: 30px;
            font-weight: normal;
        }
        p {
            line-height: 1.5;
            margin: 10px 0;
        }
        hr {
            margin: 40px 0;
        }
        table {
            border-collapse: collapse;
            border: 1px solid #333;
            margin: 10px 0;
        }
        table, th, td {
            border-bottom: 1px solid #333;
        }
        th {
            background: #f4f4f4;
        }
        th, td {
            padding: 5px;
        }
        footer {
            width: 95%;
            color: #717171;
            font-size: 14px;
            font-weight: lighter;
            line-height: 30px;
            text-align: right;
            box-sizing: border-box;
            margin: 20px auto;
        }
        footer div {
            margin: 0 auto;
            max-width: 830px;
        }
        .container {
            background: white;
            max-width: 830px;
            box-shadow: 0 2px 2px rgba(0,0,0,0.2);
            border-radius: 10px;
            margin: 20px auto;
            padding: 10px 20px 20px;
            width: calc(100% - 10px);
        }
        @media screen and (min-width: 601px) {
            body {
                font-size: 17px;
                font-weight: lighter;
            }
            h2, h3, h4, h5, h6, h7, h8 {
                font-weight: normal;
                margin: 20px 0;
                font-size: 1.5em;
            }
            h1 {
                font-weight: lighter;
                font-size: 55px;
            }
            p {
                margin: 20px 0;
            }
            footer {
                margin: 40px auto;
            }
            .container {
                margin: 40px auto;
                padding: 10px 40px 30px;
            }
         }
        @media screen and (max-width: 600px) {
            h1 {
                
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <%- content %>
    </div>
    <footer>
        <div>
            © Shadovo 2018
        </div>
    </footer>
</body>
</html>